@model IEnumerable<MentorsASPCore.Models.DTO.MentorStudentDTO>
@{
    Layout = null;
}

<!Doctype html>
<html>
<head>
    <title>
        Mentors and their students
    </title>
</head>
<body>
    <p></p><a href="~/Home/MentorStudent">Mentors with Students</a>
    <p></p><a href="~/Home/Mentors">Mentors</a>
    <p></p><a href="~/Home/Students">Students</a>
        
</body>
</html>    